USE [master]
GO
/****** Object:  Database [practica2bdd]    Script Date: 9/11/2023 10:03:14 AM ******/
CREATE DATABASE [practica2bdd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practica2bdd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\practica2bdd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'practica2bdd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\practica2bdd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practica2bdd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practica2bdd]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 9/11/2023 10:03:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[NoControl] [int] NULL,
	[Nombre] [nvarchar](50) NULL,
	[Domicilio] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Edad] [numeric](18, 0) NULL,
	[Oficio] [nvarchar](50) NULL,
	[PersonaID] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
